@-webkit-keyframes bodyBg {
	from {
		background-position: 0 0;
	} to {
		background-position: 0 -200px;
	}
}
@keyframes bodyBg {
	from {
		background-position: 0 0;
	} to {
		background-position: 0 -200px;
	}
}

@-webkit-keyframes logoEntrance {
	from {
		-webkit-transform: translateY(-275px);
		transform: translateY(-275px);
	} to {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
}
@keyframes logoEntrance {
	from {
		-webkit-transform: translate(0, -275px);
		transform: translate(0, -275px);
	} to {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
}

@-webkit-keyframes logoFloat {
	0% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	} 50% {
		-webkit-transform: translate(0, -10px);
		transform: translate(0, -10px);
	} 100% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
}
@keyframes logoFloat {
	0% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	} 50% {
		-webkit-transform: translate(0, -10px);
		transform: translate(0, -10px);
	} 100% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
}