@import './vendor/bulma/bulma';
@import './vendor/mdi/materialdesignicons';

@import './animations';

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100%;
}

body {
	color: $white-ter;
	background-color: #37474F;
	background-image: url('/dist/img/pattern-d-10.png');
	background-position: 0 0;
	animation: bodyBg 25s linear infinite;
}

.logo {
	margin: 0 auto 1rem;
	display: block;

	width: 100%;
	height: 280px;

	background-image: url('/dist/img/logo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	animation: logoEntrance 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards, logoFloat 5s ease-in-out 1s infinite;
}

.is-slanted {
	-webkit-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	transform: skewX(-20deg);

	& > .slanted-content {
		-webkit-transform: skewX(20deg);
		-ms-transform: skewX(20deg);
		transform: skewX(20deg);
		display: inline-block;
	}

	&.slanted-reverse {
		-webkit-transform: skewX(20deg);
		-ms-transform: skewX(20deg);
		transform: skewX(20deg);

		& > .slanted-content {
			-webkit-transform: skewX(-20deg);
			-ms-transform: skewX(-20deg);
			transform: skewX(-20deg);
			display: inline-block;
		}
	}
}